@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-image: linear-gradient(90deg, #00dbde 0%, #fc00ff 100%);
    font-family: 'Poppins', 'sans-serif';
    position: relative;
}

small{
    font-size: 12px;
    color: #e74c3c;
}

.form-container{
    background-color: white;
    border-radius: 10px;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 350px;
}

.title-container{
    border-radius: 10px 10px 0px 0px;
    padding: 20px;
    background-color: #f0f0f0;
}

form{
    padding: 20px;
}

.inputs-containers{
    margin-bottom: 15px;
    position: relative;
}

.inputs-containers label{
    font-size: 14px;
}

.inputs-containers input{
    border: 2px solid #f0f0f0;
    padding: 10px;
    width: 100%;
    border-radius: 10px;
}

.inputs-containers input:focus{
    outline: none;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
}

.inputs-containers .material-symbols-outlined{
    position: absolute;
    top: 33px;
    right: 10px;
}

form button{
    margin-top: 10px;
    padding: 13px;
    width: 100%;
    border-radius: 10px;
    border: none;
    background-color: #fc00ff;
    color: white;
    cursor: pointer;
}

form button:hover{
    box-shadow: 0px 0px 4px #fc00ff;
}

form button:focus{
    outline: none;
}

.inputs-containers .sucess{
    border: 2px solid #2ecc71;
}

.inputs-containers .sucess i{
    color: #2ecc71;
    background-color: #2ecc71;
}

.inputs-containers .fail{
    position: relative;
    border: 2px solid #e74c3c;
    animation-name: snaker;
    animation-duration: .5s;
}

.inputs-containers .fail .material-symbols-outlined{
    background-color: #e74c3c;
}

.hide{
    display: none;
}


.modal-container{
    background-color: rgba(0, 0, 0, 0.329);
    z-index: 10;
    position: absolute;
    height: 100%;
    width: 100%;
}

.modal{
    height: 300px;
    width: 300px;
    background-color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    animation-name: modal;
    animation-duration: 1.3s;
}

.modal .material-symbols-outlined{
    font-size: 150px;
    color: #2ecc71;
}

@keyframes modal{
    0%{top: 0%;}
    100%{top: 50%;}
}

@keyframes snaker{
    25%{left: 2px;}
    50%{left: -2px;}
    75%{left: 2px;}
}